# This is a example .env file for use in local development.
# Duplicate this file as .env in the root of the project and update the environment variables to match your desired config

# The HTTP port to run the application on
PORT=4000

# MongoDB connection string
MONGO_URI=mongodb+srv://username:password@cluster.abc.mongodb.net/Database

# JWT secret and expiry
JWT_SECRET=YOUR_SECRET_TOK
JWT_EXPIRE=7d

# Cookie expiry
COOKIE_EXPIRE=5

# Stripe API Key & Secret Key (Optional) **Alternative Paytm**
STRIPE_API_KEY=test_api_key
STRIPE_SECRET_KEY=test_secret_key

# Any SMTP Credentials (Optional) **Alternative Sendgrid**
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SERVICE=gmail
SMTP_MAIL=xyz@gmail.com
SMTP_PASSWORD=YOUR_PASS

# Sendgrid Credentials
SENDGRID_API_KEY=SG.apikey
SENDGRID_MAIL=xyz@gmail.com
SENDGRID_RESET_TEMPLATEID=YOUR_RESET_TEMPLATE_ID
SENDGRID_ORDER_TEMPLATEID=YOUR_ORDER_TEMPLATE_ID

# Cloudinary Credentials
CLOUDINARY_NAME=store
CLOUDINARY_API_KEY=YOUR_CLUDINARY_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_SECRET_KEY

# Paytm Credentials
PAYTM_MID=YOUR_MID
PAYTM_MERCHANT_KEY=YOUR_MERCHANT_KEY
PAYTM_WEBSITE=WEBSTAGING
PAYTM_CHANNEL_ID=WEB
PAYTM_INDUSTRY_TYPE=Retail
PAYTM_CUST_ID=YOUR_CUST_ID

# The environment to run the application in
NODE_ENV=development
